.btn:focus {
  background-color: #fff;
  outline: none;
}

.VolumeBarDefault {
  position: absolute;
  z-index: 1001;
  background: #ddd;
}

.VolumeBarHide {
  display: none;
}

.VolumePercentContainer {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  width: 34px;
  height: 100px;
  position: relative;
  cursor: pointer;
}

.VolumePercent {
  width: 100%;
  bottom: 0;
  top: 50%;
  background: #666;
  position: absolute;
}
